#visual_bg {
    background:url(../images/bg1.png) center;
    background-size:cover;
    background-attachment:fixedD;
}
#visual_bg #visual_bg_gra {
    background:linear-gradient(0deg, rgba(0,0,0,0.7) , transparent 70%);
}
#visual_bg #visual_bg_gra .container {
    width:1220px; margin:0 auto; 
    text-align: center;
    padding:300px 0;
    position:relative; 
}
#visual_bg #visual_bg_gra .container .logo {
    width:70px;
    position:absolute; left:0; top:0;
}
#visual_bg #visual_bg_gra .container .logo a {}
#visual_bg #visual_bg_gra .container .logo a img {
    width:100%; 
}
#visual_bg #visual_bg_gra .container .title { }
#visual_bg #visual_bg_gra .container .title,
#visual_bg #visual_bg_gra .container .title em {
    color:#fff;
    font-size:4rem; line-height: 1.2; letter-spacing:-0.02em;
}
#visual_bg #visual_bg_gra .container .title em {
    font-weight:700;
}
#visual_bg #visual_bg_gra .container .sponser {}
#visual_bg #visual_bg_gra .container .sponser img {}
#visual_bg #visual_bg_gra .container .question {}
#visual_bg #visual_bg_gra .container .question img {
    position:absolute; right:0; bottom:200px;
}
/*--------------------------------- Quiz -------------------------------*/
#quiz_bg {
    background:url(../images/quiz_bg.png) center;
}
#quiz_bg .container {
    width:1220px; margin:0 auto; 
    display:flex; 
    padding:100px 0;
}
#quiz_bg .container .left { width:50%;}
#quiz_bg .container .left #quizFrm fieldset{color:#fff;}
#quiz_bg .container .left #quizFrm fieldset h1 {
    text-align:center; 
    font-size:4rem; font-weight:700;
}
#quiz_bg .container .left #quizFrm fieldset h1,
#quiz_bg .container .left #quizFrm fieldset h2 {
    margin-bottom:15px;
}
#quiz_bg .container .left #quizFrm fieldset h2 {
    font-size:1.25rem; 
}
#quiz_bg .container .left #quizFrm fieldset ul {}
#quiz_bg .container .left #quizFrm fieldset ul li {
    margin-bottom:10px; line-height: 2.2;
}
#quiz_bg .container .left #quizFrm fieldset ul li input[name=quiz] {}
#quiz_bg .container .left #quizFrm fieldset ul li label {font-size:1.25rem;}
#quiz_bg .container .left #quizFrm fieldset p {}
#quiz_bg .container .left #quizFrm fieldset p .quiz_anwer {
    padding:20px 0; 
    color:#fff; width:100%;
    background-color: #000; border-radius:20px;
}
#quiz_bg .container .right {
    width:50%;
    position:relative;
}
#quiz_bg .container .right p {
    color:#fff; text-align:center;
    padding:20px;
}
#quiz_bg .container .right p img {}
/* ----------------------------campaign통합 ------------------------------*/
.campaign_bg {}
.campaign_bg .container {
    width:1220px; margin:0 auto; padding:100px 0;
}
.campaign_bg .container h1,
.campaign_bg .container h1 * {
    font-weight: 700; font-size:3rem;
    letter-spacing:-0.02em; line-height: 1.4;
}
/* --------------------------campaign1~7 배경모음---------------------- */
.campaign1 {background:url(../images/video_bg.png);}
.campaign2 {background:url(../images/50_bg.png);}
.campaign3 {background-color:#eee;}
.campaign4 {background:url(../images/50_bg.png);}
.campaign5 {background:url(../images/wwf.jpg) ;}
.campaign6 {background:url(../images/50_bg.png);}
.campaign7 {background:url(../images/bg2.png) ;}
.campaign_bg {background-size:cover; background-position:center;}
/* --------------------------campaign1~7 제목 근접 단락 통일---------------------- */
.campaign_bg .container h1+p {
    font-size:1.5rem; letter-spacing:-0.02em;
    line-height:1.6;
} 
/* ----------------------campaign2,4 제목 밑에 글 부분-------------------- */
.campaign2 .container h1,
.campaign4 .container h1 {color:#fff;}
.campaign2 .container em,
.campaign4 .container em {
    background-color: #fff; color:#000; padding:5px 0;
    letter-spacing:-0.03em;
}
/* ----------------------------campaign1 ------------------------------*/
.campaign_bg {}
.campaign1 .container {
    padding:100px 0;
    display:flex; flex-flow:column wrap;
    align-items: center;
}
.campaign1 .container h1 {
    text-align:center; 
}
.campaign1 .container iframe {
    margin:30px 0;
}
.campaign1 .container iframe .sponsor {}
.campaign1 .container iframe .sponsor img{}
/* ------------------------------campaign2-------------------------------*/
.campaign2 {}
.campaign2 .container {}
.campaign2 .container h1 {}
.campaign2 .container em {}
.campaign2 .container p {
    color:#fff; margin:25px 0;
}
.campaign2 .container p img {width:100%;}
/*---------------------------- campaign3 ------------------------------*/
.campaign3 .container {}
.campaign3 .container h1 {
    text-align:center;
}
.campaign3 .container h1+p {
    text-align:center; padding:20px 0 50px;
    letter-spacing: -0.04em;
}
.campaign3 .container ul {
    display:flex; flex-flow:row nowrap;
    justify-content: space-between;
}
.campaign3 .container ul li {
    width:31.33%;/* (100-6)/3 */ height:500px;
    display:flex; flex-flow:column nowrap;
    justify-content: space-between;
}
.campaign3 .container ul li:nth-child(1) {
    background:url(../images/28.png); background-size:cover; background-position:center -100px;
}
.campaign3 .container ul li:nth-child(2) {
    background:url(../images/27.png); background-size:cover; background-position:center -110px;
}
.campaign3 .container ul li:nth-child(3) {
    background:url(../images/28.png); background-size:cover; background-position:center -100px;
}
.campaign3 .container ul li h2 {
    color:#fff; font-weight: 700; font-size:2.5rem;
    padding:35px 0; text-align:center;
}
.campaign3 .container ul li p {
    color:#fff; font-size:1.375rem;
    padding-bottom:150px; text-align:center;
}
.campaign3 .container ul li p:last-child {
    background: #fff; color:#000; font-size:1.125rem;
    padding:20px 20px 50px;
    line-height: 1.5; height:200px;
}
/*---------------------------- campaign4 ------------------------------*/
.campaign4 {}
.campaign4 .container {}
.campaign4 .container h1 {}
.campaign4 .container p {
    color:#fff; margin:25px 0;
}
.campaign4 .container em {}
.campaign4 .container p img {width:100%;}
/*---------------------------- campaign5 ------------------------------*/
.campaign5 {
    position:relative; z-index:101;
}
.campaign5 .container {text-align:center; position:relative; z-index:102;}
.campaign5::before {
    background:rgba(255,255,255,0.5);
    display:block; width:100%; height:100%;
    position:absolute; left:0; top:0; z-index:100; content:'';
}
.campaign5 .container h1 {
    margin-bottom:20px;
}
.campaign5 .container p {
    margin-bottom:30px; font-size:1.5rem;
}
.campaign5 .container h1 p:last-child {
}
/*---------------------------- campaign6 ------------------------------*/
.campaign6 {}
.campaign6 .container {}
.campaign6 .container .top {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between; margin-bottom:30px;
}
.campaign6 .container .top h1 {
    color:#fff; 
}
.campaign6 .container .top p {}
.campaign6 .container .top p a {}
.campaign6 .container .btm {
    text-align:right;
}
.campaign6 .container .btm ul {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
}
.campaign6 .container .btm ul li {
    width:30%; font-size:1.25rem;
    text-align:center; line-height: 1.5; color:#fff;
}
.campaign6 .container .btm ul li::before {
    display:block; content:''; width:100%; height:100%;
    background-size:cover; height:200px;
}
.campaign6 .container .btm ul li:nth-child(1)::before {
    background-image:url(../images/freebie1.jpg);
    
}
.campaign6 .container .btm ul li:nth-child(2)::before {
    background-image:url(../images/freebie2.jpg);
}
.campaign6 .container .btm ul li:nth-child(3)::before {
    background-image:url(../images/freebie3.jpg);
}
.campaign6 .container .btm ul li p {}
.campaign6 .container .btm ul li p img {width:100%; height:200px;}
.campaign6 .container .btm p {
    background-color: #fff; font-size:1.125rem;
    margin-top:20px; display:inline-block;
}
/*---------------------------- campaign7 ------------------------------*/
.campaign7 {
    background-size:cover; background-position:center -10px;
}
.campaign7 .container {
    text-align:center;
}
.campaign7 .container h1 {
    line-height:1.5; letter-spacing:-0.03em;
}
.campaign7 .container p {
    margin:30px 0;
}
/*---------------------------- footer ------------------------------*/
footer {
    width:1220px; margin:0 auto;
    text-align:left; padding:45px 0;
}
footer h2 {font-weight: 700; font-size:1.375rem; margin-bottom:25px;}
footer p {margin-bottom:15px; font-size:1.125rem;}
footer p:last-child {margin-bottom:none;}